/*
!/.gitignore
!/.github
/.github/*
!/.github/workflows
!/.github/labeler.config.yml
!/build.gradle.kts
!/settings.gradle.kts
!/gradle.properties
!/chan.properties
!/COPYING
!/README.md
!/build.sh
!/gradlew
!/gradlew.bat
!/gradle
/gradle/*
!/gradle/wrapper
!/chans
/chans/*/*
!/chans/*/build.gradle.kts
!/chans/*/res
!/chans/*/src
!/engines
/engines/*/*
!/engines/*/build.gradle.kts
!/engines/*/res
!/engines/*/src
!/sdk
/sdk/*/*
!/sdk/settings.gradle.kts
!/sdk/build.gradle.kts
!/sdk/*/build.gradle.kts
!/sdk/*/res
!/sdk/*/src
!/build-logic
/build-logic/*
!/build-logic/build.gradle.kts
!/build-logic/settings.gradle.kts
!/build-logic/src
/keystore.properties
/local.properties
