/*
!/.gitignore
!/.gitmodules
!/build.gradle.kts
!/settings.gradle.kts
!/gradle.properties
!/chan.properties
!/COPYING
!/README.md
!/build.sh
!/gradlew
!/gradlew.bat
!/gradle
/gradle/*
!/gradle/wrapper
!/extensions
/extensions/*/*
!/extensions/*/build.gradle.kts
!/extensions/*/res
!/extensions/*/src
!/library
/library/*
!/keystore.properties
